.content :global( .ant-layout-content){
  flex: 1 !important;
}

.my_input{
  margin: 10px 0px;
}

.main{
  margin-left: auto;
  margin-right: auto;
}
.adminBody{
  height: 100%;
}
.content{

}

.content_main{
  margin: 10px;
  padding: 10px 10px 0px 10px ;
  background: #fff;
}


.welcome{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child{
  text-align: center;
}
.icon{
  font-size: 30px;
}
.text{
  color:#555555;

}
.del_input{
    float: right;
}

:global(.ant-table-pagination ){
  float: none!important;
  display: table;
  margin: 16px auto !important;
}


:global(.anticon-close-circle) {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}
:global(.anticon-close-circle:hover ){
  color: #999;
}
:global(.anticon-close-circle:active ){
  color: #666;
}

:global(.inputMargin){
  margin-left: 8px;
}
:global(.center){
  text-align: center;
}
:global(.red_text){
  text-align: center;
}

:global(.table_head_label){
  margin-right: 10px;
}


